<h1>Videos</h1>
<%= form_with url: search_videos_path, method: :get, local: true do %>
  <div class="input-group mb-3">
    <input type="text" name="query" class="form-control" placeholder="Search videos by title" value="<%= params[:query] %>">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </div>
<% end %>

<div class="row">
  <% @videos.first(10).each do |video| %> <!-- Display only the first 10 videos -->
    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="<%= video.thumbnail_url %>" alt="<%= video.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= video.title %></h5>
          <p class="card-text"><%= video.description %></p>
          <p class="card-text"><small class="text-muted">Views: <%= video.views %></small></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <% (1..@total_pages).each do |page| %>
      <li class="page-item <%= 'active' if page == params[:page].to_i %>">
        <%= link_to page, videos_path(page: page, query: params[:query]), class: 'page-link' %>
      </li>
    <% end %>
  </ul>
</nav>
