<h1><%= @playlist.name %></h1>

<h2>Videos</h2>
<ul>
  <% @playlist.videos.each do |video| %>
    <li>
      <%= video.title %>
      <%= link_to 'Remove', remove_video_playlist_path(@playlist, video_id: video.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<h2>Add Video</h2>
<%= form_with url: add_video_playlist_path(@playlist), method: :post, local: true do %>
  <div class="field">
    <%= label_tag :video_id, 'Video' %>
    <%= select_tag :video_id, options_from_collection_for_select(Video.all, :id, :title) %>
  </div>
  <div class="actions">
    <%= submit_tag 'Add Video' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
